{% extends "modelo.html" %}
{% block conteudo %}
    <section id="container-index">
        <div id="text">
            <h3 id="title">Titulo</h3>
            <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti mollitia et magni, odio officia illum enim ad amet quo incidunt delectus cupiditate eveniet repudiandae nesciunt numquam optio laborum qui iste!Lorem Lorem ipsum dolor</p>

        </div>
        <div id="cards">
            <div id="card1">
                <a href="/listadetarefas">
                    <img id="image1" src="static/img/tarefas2.jpg" alt="">
                    <h4>Lista de tarefas</h4>
                </a>
            </div>
            <div id="card2">
                <a href="/sobre">
                    <img id="image2" src="static/img/Equipe.png" alt="">
                    <h4>Sobre</h4>
                </a>
            </div>
            <div id="card3">
                <a href="/glossario">
                    <img id="image3" src="static/img/glossario.jpg" alt="">
                    <h4>Glossário</h4>
                </a>
            </div>
        </div>
    </section>

    </section>

{% endblock %}
