{% extends "modelo.html" %}
{% block conteudo %}
<section class="container-wrap">
    <div class="colab">
        <img class="avatar" src="static/img/breno.jpeg">
        <h3>Breno</h3>
        <h3>Scrum-Master</h3>
        <a href="https://www.linkedin.com/in/breno-leal-1558a0289/" target="_blank">Linkedin</a>
    </div>
    <div class="colab">
        <img class="avatar" src="">
        <h3>Max</h3>
        <h3>Desenvolvedor-Git</h3>
        <a href="https://www.linkedin.com/in/maxmillian-pedro-2265a728a/" target="_blank">Linkedin</a>
    </div>
    <div class="colab">
        <img class="avatar" src="">
        <h3>Giovanna</h3>
        <h3>Desenvolvedor-Back-End</h3>
        <a href="#" target="_blank">Linkedin</a>
    </div>
    <div class="colab">
        <img class="avatar" src="">
        <h3>Geliel</h3>
        <h3>Desenvolvedor-Front-End</h3>
        <a href="#" target="_blank">Linkedin</a>
    </div>
</section>

{% endblock %}